<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARmTYnbY3F-ALd4CGmXhyMUm7aWVVsRLk</string>
	<key>GCM_SENDER_ID</key>
	<string>331459705049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edulens.tec.saif</string>
	<key>PROJECT_ID</key>
	<string>edulens-8fed5</string>
	<key>STORAGE_BUCKET</key>
	<string>edulens-8fed5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331459705049:ios:89fc3d1c959844ae3b66c8</string>
</dict>
</plist>